/* Sidebar navigation */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
    left: 0;
}

/* Section */
section {
    background-color: #f5f5f5;
    padding: 20px;
    flex: 1;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
}

.sumary-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {

}

.filter button {
    /* margin-right: -10px; */
    padding: 4px 8px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
}

.sumary-content {
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0,0,0,0.1);
    margin: 10px;
}

.container {
    display: flex;
    gap: 20px;
}

.jars {
    justify-content: space-between;
    flex-wrap: wrap;
}

.jar {
    flex: 1 0+ 15%;
}

